<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxyB8TPsQJD_Y3F9PMtuZC7QGND2pZXuI</string>
	<key>GCM_SENDER_ID</key>
	<string>830966707180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jithin.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchatapp-a4134</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatapp-a4134.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830966707180:ios:635fbefb22cbe0a5a846c9</string>
</dict>
</plist>